<body>
  <div class="container">
    <h3>Good luck {{ playerName }}!</h3>
    <h5>
      Game Status: {{ gameStatus }} Scores: {{ points }} Time:
      {{ timeSpent | date : "mm:ss" }}
    </h5>
    <button class="red-button" [routerLink]="['/intro-page']">Quit game</button>
    <button class="red-button" [routerLink]="['/score-page']">
      Go to score page
    </button>
    <div class="center-container">
      <ngx-race
        [ngClass]="{ 'black-and-white': selectedColor === 'highContrast' }"
        (carOvertaken)="grantPoints()"
        (gameOver)="gameOver()"
        >#game
      </ngx-race>
    </div>
    <br />
    <br />
    <button
      class="green-button"
      *ngIf="gameStatus === 'Ready'"
      (click)="startGame()"
    >
      Start
    </button>
    <button
      class="green-button"
      *ngIf="gameStatus === 'Started'"
      (click)="stopGame()"
    >
      Pause
    </button>

    <button
      class="green-button"
      *ngIf="gameStatus === 'Paused'"
      (click)="resumeGame()"
    >
      Resume
    </button>

    <button
      class="green-button"
      *ngIf="gameStatus !== 'Ready'"
      (click)="endGame()"
    >
      Finish Game
    </button>

    <button
      class="green-button"
      *ngIf="gameStatus !== 'Ready'"
      (click)="resetGame()"
    >
      Reset
    </button>
    <br />
    <button
      class="green-button"
      [disabled]="
        gameStatus === 'Paused' ||
        gameStatus === 'Ready' ||
        gameStatus === 'Ended'
      "
      (click)="actionLeft()"
    >
      <--Left
    </button>
    <button
      class="green-button"
      [disabled]="
        gameStatus === 'Paused' ||
        gameStatus === 'Ready' ||
        gameStatus === 'Ended'
      "
      (click)="actionRight()"
    >
      Right-->
    </button>
    <br />
    <button
      class="green-button"
      [disabled]="
        gameStatus === 'Paused' ||
        gameStatus === 'Ready' ||
        gameStatus === 'Ended'
      "
      (click)="turboOn()"
    >
      Turbo ON
    </button>
    <button
      class="green-button"
      [disabled]="
        gameStatus === 'Paused' ||
        gameStatus === 'Ready' ||
        gameStatus === 'Ended'
      "
      (click)="turboOff()"
    >
      Turbo OFF
    </button>
  </div>
</body>
