<div>
  <h2>Welcome, {{ playerName }}!</h2>
  <p>Game Status: {{ gameStatus }}</p>
  <p>Points: {{ points }}</p>
  <p>Time Spent: {{ timeSpent | date : "mm:ss" }}</p>

  <button (click)="exitGame()">Exit Game</button>
  <button (click)="finishGame()">Finish</button>

  <ngx-race
    #game
    (carOvertaken)="grantPoints()"
    (gameOver)="gameOver()"
  ></ngx-race>
  <br />
  <br />
  <button *ngIf="gameStatus === 'Ready'" (click)="startGame()">
    Start Game
  </button>
  <button *ngIf="gameStatus === 'Started'" (click)="stopGame()">
    Pause Game
  </button>
  <button *ngIf="gameStatus === 'Paused'" (click)="resumeGame()">
    Resume Game
  </button>
  <button *ngIf="gameStatus !== 'Ready'" (click)="endGame()">End Game</button>

  <button *ngIf="gameStatus !== 'Ready'" (click)="resetGame()">Reset</button>
  <br />
  <button
    [disabled]="
      gameStatus === 'Paused' ||
      gameStatus === 'Ready' ||
      gameStatus === 'Ended'
    "
    (click)="actionLeft()"
  >
    Left
  </button>
  <button
    [disabled]="
      gameStatus === 'Paused' ||
      gameStatus === 'Ready' ||
      gameStatus === 'Ended'
    "
    (click)="actionRight()"
  >
    Right
  </button>
  <br />
  <button
    [disabled]="
      gameStatus === 'Paused' ||
      gameStatus === 'Ready' ||
      gameStatus === 'Ended'
    "
    (click)="turboOn()"
  >
    Turbo ON
  </button>
  <button
    [disabled]="
      gameStatus === 'Paused' ||
      gameStatus === 'Ready' ||
      gameStatus === 'Ended'
    "
    (click)="turboOff()"
  >
    Turbo OFF
  </button>

  <!-- Display gameplay history -->
  <div>
    <h3>Gameplay History</h3>
    <select [(ngModel)]="selectedAction">
      <option value="">All</option>
      <option>Game Started</option>
      <option>Game Paused</option>
      <option>Game Resumed</option>
    </select>
    <select [(ngModel)]="sortOrder">
      <option>Newest to Oldest</option>
      <option>Oldest to Newest</option>
    </select>
    <ul>
      @for (event of gameplayHistory | filter:selectedAction; track event){
      <li>{{ event.timeStamp | date : "medium" }} - {{ event.action }}</li>
      }
    </ul>
  </div>
</div>
