<div class="container">
  <h1>Welcome to the Race Game!</h1>
  <h3>
    This is a fun and exciting game.<br />
    Fill out the form below to get started!
  </h3>
  <form [formGroup]="playerForm" (submit)="setPlayerData()">
    <label>Name: </label>
    <input
      formControlName="playerName"
      type="text"
      class="form-control"
      placeholder="Enter your name"
    />

    <div *ngIf="name.touched && name.invalid">
      Name must be at least 3 chars long
    </div>
    <br />
    <label>Email: </label>
    <input
      formControlName="playerEmail"
      type="email"
      class="form-control"
      placeholder="Enter your email"
    />
    <br />
    <br />
    <br />
    <button [disabled]="playerForm.invalid" type="submit">Start game</button>
  </form>
</div>
