<div>
  <h2>Game over, {{ playerName }}!</h2>
  <p>Game Status: {{ gameStatus }}</p>
  <p>Points: {{ points }}</p>
  <p>Time Spent: {{ timeSpent | date : "mm:ss" }}</p>

  <!-- Display gameplay history -->
  <div>
    <h3>Gameplay History</h3>
    <select [(ngModel)]="selectedAction">
      <option value="">All</option>
      <option>Game Started</option>
      <option>Game Paused</option>
      <option>Game Resumed</option>
      <option>Car overtaken</option>
      <option>Turbo On</option>
      <option>Turbo Off</option>
    </select>
    <select [(ngModel)]="selectedSortOrder">
      <option value="Newest first">Newest first</option>
      <option value="Oldest first">Oldest first</option>
    </select>
    <ul>
      @for (event of gameplayHistory | filter:selectedAction |
      sort:selectedSortOrder; track event){
      <li>{{ event.timeStamp | date : "medium" }} - {{ event.action }}</li>
      }
    </ul>
    <button [routerLink]="['/intro-page']">Exit Game</button>
    <br /><br />
    <button [routerLink]="['/game-page']">Play Again</button>
  </div>
</div>
