<div>
  <app-intro-page
    *ngIf="currentPage === 'introPage'"
    (startGameEvent)="startGame($event)"
  ></app-intro-page>
  <app-game-page
    *ngIf="currentPage === 'gamePage'"
    [playerName]="currentPlayerName"
    (exitGameEvent)="exitGame()"
    (finishGameEvent)="finishGame($event)"
  ></app-game-page>
  <app-score-page
    *ngIf="currentPage === 'scorePage'"
    [playerName]="currentPlayerName"
    (exitGameEvent)="exitGame()"
    (startGameEvent)="startGame($event)"
    [gameStatus]="currentGameStatus"
    [points]="currentPoints"
    [timeSpent]="currentTimeSpent"
  ></app-score-page>
</div>
