/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  // background-image: url("/assets/race-car.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.image {
  opacity: 0.5;
}

.container {
  text-align: center;
}

.green-button {
  background-color: green;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 5px;
}
.red-button {
  background-color: red;
  color: white;
  padding: 2px 2px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  margin: 3px 3px;
}
.header {
  background-color: azure;
  color: blue;
  padding: 5px 5px;
}
.center-container {
  display: flex;
  justify-content: center;
}

ngx-race {
  &.black-and-white {
    ngx-race-tile {
      background: #ffffff;
      &.free {
        div {
          background: #ffffff;
        }
      }

      &.car {
        div {
          background: #000000;
        }
      }

      &.othercar {
        div {
          background: #f20404;
        }
      }
    }
  }
}
